name: on-commit

on: [pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.12', '3.13', '3.14', '3.14t', 'pypy3.11']

    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v6
      with:
        version: "0.9.7"
        python-version: ${{ matrix.python-version }}
    - name: Set up environment
      run: uv sync --locked
    - name: Check types with mypy
      run: uv run mypy
    - name: Test with pytest
      run: uv run pytest

  style:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v6
    - name: Lint
      run: uvx ruff check
    - name: Check formatting
      run: uvx ruff format --check
