name: on-release

on:
  workflow_dispatch:
  pull_request:
  release:
    types: [published]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - uses: astral-sh/setup-uv@v6
      with:
        version: "0.9.7"
    - name: Build package
      run: uv build
    - name: Publish package
      run: uv publish --dry-run
